<%= link_to "#{@user.name}'s profile", user_path(@user), class: "navbar-brand" %>
<%= link_to 'Log out', logout_path, class: "navbar-brand" %>
<div class="info center">
    <p><strong>Name:</strong> <%= @user.name %></p>
    <p><strong>Tickets:</strong> <%= @user.tickets %></p>
    <p><strong>Mood:</strong>  <%= @user.mood %></p>
    <p><strong>Height:</strong> <%= @user.height %></p>
    <p><a href="/attractions">See attractions</a></p>
</div>